
*  { margin: 0; box-sizing: border-box; }

body {font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    color: #000000;

}

h1 {
        font-size: 32.xrem;
        color: lightblue;
}

h2 {
        font-size: 24.xrem;
        text-align: left;
        border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 3rem;
}

header, footer a {
    text-align: left;
    background-color: darkgrey;
    color: lightblue;
}

footer{
    text-align: center;
    background-color: darkgrey;
    color: lightblue;
}

header img {
    width: 256px;
    height: auto;
    float: right;
    padding-top: 3rem;
}

footer {font-size: medium;}

