* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    height: auto;
}

h1 {
    font-size: 3rem;
    color: teal;
}

h2 {
    font-size: 1.75rem;
    text-align: left;
    border-bottom: 1px;
    margin-bottom: 32px;
    color: teal;
}

header,
main{
    margin: 0 auto;
    padding: 5rem;
}

header,
footer a {
    text-align: left;
    background-color: #282828;
    color: teal;
}

ul{
    color: teal;
    font-style: bold;
}

footer {
    text-align: center;
    background-color: #282828;
    color: teal;
    padding: 3rem;
}

header img {
    max-width: 256px;
    height: auto;
    float: right;
    margin: 3rem;
    box-shadow: 5px 5px 5px #282828;
}

footer {
    font-size: medium;
}